header {
	position: fixed;
	border-bottom:1px solid $light-grey;
	background:#fff;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index:500;
	transition: transform .5s;
	.header-row {
		align-items:center;
		padding-top:1.388rem;
		padding-bottom:1.388rem;
		.brand {
			display:block;
			img {
				max-width:8.75rem;
				height:auto;
			}
		}
	}
	&.headroom {
    @include transition;
    background-color:#fff;
  }
  &.headroom--unpinned {
    opacity:0;
  }
 &.headroom--pinned {
    opacity:1;
  }
}
