/**************************************************/
/************ HOMEPAGE **************************/

.featured-posts {
	//see global;
}

.lifestyle {
	position:relative;
	.row {
		.image {
			margin-bottom:30px;
		}
	}
	.lifestyle-caption {
		@extend h1;
		font-size:1.888rem;
		line-height:1.588rem;
		position:absolute;
		top:15px;
		left:15px;
		@include media-breakpoint-up(md) {
			top:0;
			left:0;
			width:50%;
			font-size:2.888rem;
			line-height:2.388rem;
		}
	}
}
.mailchimp {
	background-image: url('../images/brand-circle.svg');
	background-repeat: no-repeat;
    background-position: 68% 0;
    margin-bottom: 4rem;

	#mc_embed_signup div.mce_inline_error {
		margin-bottom: 0;
	}
	form {
		@extend .content-box-offset;
	}
	h3 {
		margin-bottom: 1rem;
	}
	.mailchimp-form-fields {
		margin-bottom: .5rem;
		.submit {
			margin-top:1rem;
			@include media-breakpoint-up(md) {
				margin-top:0;
			}
		}

	}
	.response {
		font-style: italic;
    	padding-top: .5rem;
    	font-size: .75rem;
    	line-height: normal;
	}
	.mailchimp-lifestyle-images{
		margin-top: 1rem;
		& > div {
			margin-bottom:30px;
		}

	}
}

/********* //END HOMEPAGE **************************/


/**************************************************/
/************ PRDUCTS PAGEs **************************/

.slideshow-overlay {
	@include media-breakpoint-up(md) {
		margin-top:1.666rem;
	}
	
	.img-overlay {
		position:relative;
		img {
			@include media-breakpoint-up(md) {
				position:absolute;
				z-index:300;
				margin-top:-5.5rem
			}
		}
	}
}

.facts {
	.content-horizontal {
		@include media-breakpoint-up(md) {
			width:47.3686%;
			margin:0 auto;
		}
	}
	.side-by-side {
		align-items: center;
		& > div {
			margin-bottom:1.333rem;
			@include media-breakpoint-up(md) {
				margin-bottom:0;
			}
		}
	}
}

.mini-carousel-header {
	margin-bottom: 6rem;
	align-items: center;
}
.icon-slideshow {
	.caption {
		@extend h4;
		text-align:center;
		padding-top:1rem;
		@include media-breakpoint-up(md) {
			padding-top:2rem;
		}
	}
	.mini-carousel {
		margin-bottom: 3rem;
	}
}


.bottle-facts {
	
	background-color: $brand-primary;
	background-size:cover;
	background-position:right center;
	background-repeat:no-repeat;
	@include media-breakpoint-up(md) {
		background-position:center center;
	}

}

.product_availability {
	.row {
		align-items: center;
		.product_availability_headline {
			@extend h1;
			margin-bottom:1.666rem;
		}
		.product_availability_link {
			margin-bottom: 2rem;
		}
	}
}

.nutritional_info {
	background:$row-bg;
	.nutrition-gridded {
		.nutrition-item {
			margin-bottom: 3rem;
			.product-name {
				padding-top:1.333rem;
			}
		}	
	}
}

/********* //END PRDUCTS PAGEs **************************/

/**************************************************/
/************ PRESS  **************************/
.press {
	.press-item {
		margin-bottom: 30px;
		position: relative;
		h3 {
			padding-top: 0.5rem;
			@include media-breakpoint-up(xl) {
				padding:1.333rem;
			}
			a {
				display: block;
				color: $text-color;
			}
		}
		.press-overlays {
			position: absolute;
			top: 10px;
			right:30px;
			a {
				display: inline-block;
				padding-left:10px;
				color: $text-color;
			}
		}
	}
}




/**************************************************/
/************ LISTING PAGEs **************************/
.listing {
	a {
		display:block;
		margin-bottom:1.666rem;
	}
	.listing-feature,
	.listing-feature .description {
		height:340px;
		
		@include media-breakpoint-up(md) {
			height:540px;
		}
	}
	.listing-feature {
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;

		.description {			
			display: flex;
			color:#FFF;
    		flex-direction: column;
    		justify-content: center;
    		text-shadow: 1px 1px 10px $text-color;
    		width: 100%;
    		@include media-breakpoint-up(lg) {
    			width: 50%;
    		}
			.listing_header {
				@extend h1;
			}
			.listing_description {
				font-size:1.333rem;
			}
		}
	}
}


/**************************************************/
/************ Storemapper / FIND US *******************/
#storemapper {
	position: relative;
}
a.storemapper-map-directions {
	border:none;
	padding: 0;
	font-size: inherit;
}
#storemapper-left {
	@include media-breakpoint-up(lg) {
		margin-top: -100px;
    	width: 50% !important;
    	float: right !important;
   		margin-right: 5%;
   		margin-left: 5%;
   		margin-bottom: 3rem;
	}
	z-index:490;
	position:relative;
	@extend .content-box-offset;
	background-color:$mapper-bg;
	label {
		@extend h2;
	}
	input, button {
		display: block;
		width: 100%;
		margin-bottom:1rem;
	}
	input {
		border: 2px solid $text-color;
	    background: none;
	    padding: .5rem;
	    color: $text-color;
	}
	h4 {
		@extend h3;
	}
	.storemapper-categories {
		display: flex;
    	justify-content: space-around;
		label {
			font-size:1rem;
			text-transform: none;
			display: inline;
			@extend .Proximanova_Regular;

			input {
				margin-right: 5px;
				display: inline-block;
				width: auto;
			}
			&:last-child {
				display: none
			}
		}
		.help-block {
			line-height: normal;
			padding-bottom: 1rem;
		}
	}


	#storemapper-list {
		li {
			clear: both;
			h4 {
				margin-top: 1rem;
			}
			p {
				margin:0;
				font-size: .875rem;
				line-height: normal;
			}
			
		}
	}
}


/**************************************************/
/************ BLOG listing **************************/

.blog-pagination {
	text-align: center;
	padding-top:3rem;
	padding-bottom: 6rem;
	a, span {
		@extend h2;
		display: inline-block;
		padding:.5rem;
	}
}

/**************************************************/
/************ PAGEs COMMON **************************/

section {
	margin-bottom:3.333rem;
}
.page-template-template-special section {
	margin-bottom:0;
}

.padded {
	padding-top:3.333rem;
	padding-bottom:3.333rem;
}

.inverse {

}

.owl-carousel {
	.owl-stage-outer {
		padding:1rem 0;
	}
	.item {
		.container {
			.row-content {
				display: flex;
				flex-direction: column;
    			align-content: center;
    			height: 100%;
    			align-items: flex-start;
    			justify-content: center;
			}
			img{
    			display: block;
    			width: 100%;
    			height: auto;
    		}
    		.play {
    			@include transition;
    			position: absolute;
    			z-index: 15;
    			/*total hack*/
    			top: 40%;
    			left: 40%;
    			@include media-breakpoint-up(md) {
    				//otherwise center
    				top: 45%;
    				left: 45%;
    			}
    			-webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    			box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    			border-radius:50%;
    			&:hover {
    				-moz-transform: scale(1.3);
					-webkit-transform: scale(1.3);
					-o-transform: scale(1.3);
					-ms-transform: scale(1.3);
					transform: scale(1.3);
				}
				img {
					opacity: 1;
				}
    		}
    	}
    	
    	

    	
    	
    }
    .item, .item .container {
    	height:340px;
    	background-size:cover;
    	background-position:center;
    	background-repeat:no-repeat;
 
    	@include media-breakpoint-up(md) {
    		height:540px;
    	}
    	/*becuase the homepage has a full width hero, we can adjust sizing for larger screens*/
    	&.home,
    	&.home .container {
    		background-position:50% 20%;
    		@include media-breakpoint-up(lg) {
    			height:640px;
    		}
    		@include media-breakpoint-up(xl) {
    			height:740px;
    		}
    	}
    }

    .owl-item {
    	img {
	    	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	    	filter: grayscale(100%);
	    	opacity:.5;
	    }
    	@include transition;
    	&.active {
    		p.caption {
    			@include transition;
    			display: none;
    		}

    	}
    	&.center {
    		img {
	    		-moz-transform: scale(1.2);
				-webkit-transform: scale(1.2);
				-o-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
				-webkit-filter:unset;
	    		filter:unset;
	    		opacity:1;
			}
			p.caption {
    			display: block;
    		}
    	}
    }
    
    .owl-nav {
    	position: absolute;
    	z-index: 100;
    	width: 170px;
    	bottom: 70px;
    	right: 0;
    	.owl-prev, .owl-next {
    		width:55px;
    		margin-right:30px;
    		display:inline-block;
    		&.disabled {
    			opacity:0.5;
    		}
    	}
    	.owl-prev {
    		img {
    			-moz-transform: scaleX(-1);
        		-o-transform: scaleX(-1);
        		-webkit-transform: scaleX(-1);
        		transform: scaleX(-1);
        		filter: FlipH;
        		-ms-filter: "FlipH";
        	}
    	}
    	.owl-next {
    		
    	}
    }


}

.arrow {
    &.inverse {
    	-webkit-filter: invert(100%);
  		filter: invert(100%);
  		filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
  	}
}





/* SPECIAL PAGE ELLIE STYLES*/

#ellie_header {
	/*background-image: url('../images/ellie/hero-header-ellie.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;*/
	margin-bottom: 60px;
}

#ellie_header_content {
	background-color: rgba(255,255,255,0);
}

.btn.contest-enter {
	@extend h2; 
	background-color: #00aeef;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 20px;
    letter-spacing: 0.015rem;
    line-height: 1.1;
    display: inline-block;
    width: auto;
    margin-top: 15px;
    padding: 10px 40px;
}

#ellie_follow_bg {
	background-image: url('../images/ellie/ellie-follow@2x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 60px 0 140px;
}

#ellie_follow_bg i {
	color: #00aeef;
	font-size: 34px;
}

#ellie_follow_bg ul {
	padding: 0;
	margin: 60px auto;
	display:table;
    width:100%;
}

#ellie_follow_bg ul li {
	display:table-cell;
	list-style: none;
	margin: 30px 28px;
}

.sweepstakes {
	background: #00aeef;
	color: #FFF;
	padding: 6rem 0 3rem;
	.frm_form_title {
		@extend h2;
	}
	.frm_form_title, .frm_description {
		text-align: center;
	}
	a {
		&:link, &:visited {
			color: #FFF;
			text-decoration: underline;
		}
		&:hover, &:focus, &:active {
			color:#000;
			text-decoration: none;
		}
	}
}


@media (max-width: 575px) {
	#ellie_header_content {
		background-color: rgba(255,255,255,0.5);
		text-align: center;
	}

	.row.reorder-xs {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);

		direction: rtl;
	}

	.row.reorder-xs > [class*="col-"] {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);

		direction: ltr;
	}

	#ellie_follow_bg {
		padding: 20px 0 80px;
		text-align: center;
	}

	#ellie_follow_bg ul {
		display:inline;
	}

	#ellie_follow_bg ul li {
		list-style: none;
		display: inline;
		margin: 30px 16px;
	}

	.btn.contest-enter {
		display:block;
	    width: 100%;
	}

	#ellie_follow_bg i {
		font-size: 28px;
		margin: 10px auto;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	#ellie_header_content {
		background-color: rgba(255,255,255,0.5);
		text-align: center;
	}

	.row.reorder-xs {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);

		direction: rtl;
	}

	.row.reorder-xs > [class*="col-"] {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);

		direction: ltr;
	}

	.btn.contest-enter {
		display:block;
	    width: 100%;
	}

	#ellie_follow_bg {
		text-align: center;
	}
}

.pullup {
	margin-top: 0;
	@include media-breakpoint-up(md) {
		margin-top: -170px;
	}
}


/* END NEW ELLIE STYLES */


