/**************************************************/
/************ MIXINS ******************************/
@mixin transition {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

@mixin word-break {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  /*-ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;*/

}
/************ //END MIXINS ************************/


/********************************************
/* FONTS *****/
@font-face {
    font-family: 'flama-condensed-bold';
    src: url('../fonts/flamacondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/flamacondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Flama_Condensed_Bold {
  font-family: 'flama-condensed-bold';
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Proximanova_Regular {
  font-family: 'proximanova-regular';
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'proximanova-regularit';
    src: url('../fonts/proximanova-regularit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Proximanova_Regular_Italics {
  font-family: 'proximanova-regularit';
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Proximanova_Bold {
  font-family: 'proximanova-bold';
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'proximanova-boldit';
    src: url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Proximanova_Bold_Italics {
  font-family: 'proximanova-boldit';
  font-style:   normal;
  font-stretch: normal;
}

/*  //END FONTS *****/
/********************************************/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	color: $text-color;
  @extend .Proximanova_Regular;
  font-size: 18px;
  line-height:22px;
  height: 100%;
}
.wrap {
  margin-top:5rem;
}
.home .wrap {
  margin-top:2.2rem;
}

h1, h2, h3, .nav-primary {
	@extend .Flama_Condensed_Bold;
	text-transform:uppercase;
}
.row_inner_padding {
  padding-top:3rem;
  padding-bottom:3rem;
}

main {
  padding-right:0 !important;
  padding-left: 0 !important;
}

h1 {
	font-size:2.333rem;
	line-height:2rem;
	@include media-breakpoint-up(sm) {
		font-size:3.333rem;
		line-height:2.777rem;
	}
	&.feature {
		@include media-breakpoint-up(md) {
			font-size:4.2222rem;
			line-height:3.333rem;
			margin-bottom: 3rem;

		}
	}
	&.dark {
		color:$text-color;
	}
	&.light {
		color:#FFF;
	}
}
h2 {
	font-size:2rem;
	line-height:1.6rem;
}
h3 {
  font-size:1.333rem;
  line-height:1.2rem;
}
h4 {
	font-size:1rem;
	line-height:0.9rem;
  @extend .Proximanova_Bold;
}
.page-header h1 {
	color:$brand-primary;
	margin-bottom:1.666rem;
}

i, em {
	 @extend .Proximanova_Regular_Italics;
}
b, strong {
	@extend .Proximanova_Bold;
}
em strong, strong em {
	 @extend .Proximanova_Bold_Italics;
}

.content-box-offset {
  padding:1.666rem;
}

/* grid item hover on blog only */
.page-template-template-blog {
  .grid-item {
    &:hover {
      background-color:$blog-rollover
    }
  }
}

.featured-posts {
  .grid-sizer,
  .grid-item.half,
  .grid-item { 
    width: 100%; 
    @include media-breakpoint-up(sm) {
      width: 48.5%; 
    }
  }

  &.blog-listing {
    .grid-sizer {
      @include media-breakpoint-up(sm) {
        width : 48.5%;
      }
      @include media-breakpoint-up(md) {
        width : 30.333%;
      }
    }
  }

  .grid-item.big { 
    width:100%;
    margin-right: 0;
     @include media-breakpoint-up(sm) {
      width : 48.5%;
    }
    @include media-breakpoint-up(md) {
      width: 55.327%;
      margin-right: 8.3333%
    }
    .content-copy,
    .content-image {
      @include media-breakpoint-up(md) {
        //padding-right: 8.3333333333%;
      }
    }
  }
  .grid-item.one-third { 
    width:100%;
    @include media-breakpoint-up(sm) {
      width : 48.5%;
    }
    @include media-breakpoint-up(md) {
      width : 30.333%;
    }
  }
  
  .gutter-sizer { width: 3%; }
  .grid-item.full { width: 100%; }
  
  .grid-item {
    a {  
        color:$text-color;
        display: block;
      }

    margin-bottom:1.666rem;
    @include transition;
    
    .justify {
      align-items: center;
    }
    .content-copy {
      @extend .content-box-offset;
      h2 {
        margin-bottom:10px;
      }
      .excerpt {
        a { display: none; } //hide "continued" link
      }
      
      &.overtop {
         @include media-breakpoint-up(md) {
            position:absolute;
            top:0;
            left:0;
          }
      }
      &.overbottom {
        @include media-breakpoint-up(md) {
          position:absolute;
          bottom:0;
          left:0;
        }
      }
    }
  }
}


/**************************************************/
/************ LINKS **************************/

/* unvisited link */
a:link {
    color: $link-default;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: $link-default;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: $link-hover;
    text-decoration:none;
}

/* selected link */
a:active {
    color: $link-hover;
    text-decoration:none;
}
/************ //END NAVIGATION **************************/


/**************************************************/
/************ IMAGES **************************/
img {
	max-width:100%;
	height:auto;
}

/************ //END IMAGES **************************/




/**************************************************/
/************ NAVIGATION **************************/
nav {
	&.nav-primary {
		position:relative;
		ul {
			li {
				padding-right:1.111rem;
        
				a {
					@include transition;
					&:link, &:visited {
						color:$text-color;
					}
					&:hover, &:active, &:focus {
						color:$brand-primary;
					}
				}
		    &.current_page_item, &.current_page_parent {
		      ul.sub-menu {
            display:block;
          }
        }
        &.current-menu-item,
        &.current_page_parent {
          a, a:link {color:$brand-primary;}
          .sub-menu a {color:$text-grey;}
        }
			}
			&.sub-menu {
				list-style-type: none;
				border-top:1px solid $light-grey;
        display:none;
				position: absolute;
				left: 0;
				width: 100%;
				margin: 0.2rem 0 0 1px;
				padding: 0.2rem 0 0 0;
				font-size:0.888rem;
				li {
					display: inline-block;
					vertical-align: middle;
					position: static;
          a {
            color:$text-grey;
          }
          &.current-menu-item {
            a {color:$brand-primary;}
          }
				}
			}
		}
	}
	&.nav-legal {
		margin-bottom:30px;
		@include media-breakpoint-up(md) {
			float:right;
			margin-bottom:0;
		}
		ul li {
			margin-left:15px;
		}
	}
}


.push {
  transition: left .2s;
}

#nav-toggle { 
  cursor: pointer;
  display:inline-block;
  padding:15px 0;
  width:35px;
  float: right;
  
  span, span:before, span:after {
      transition: all 500ms ease-in-out;
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $link-default;
      position: absolute;
      display: block;
      content: '';
  }
  span:before {
      top: -10px; 
  }
  span:after {
      bottom: -10px;
  }

  &.active span {
      background-color: transparent;
  }
  &.active span:before, &.active span:after {
      top: 0;
  }
  &.active span:before {
      transform: rotate(45deg);
  }
  &.active span:after {
      transform: rotate(-45deg);
    }
}

/*Slideout nav*/
.resposnive_nav_container {
    background-color: $nav-bg-color;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 8000; /* Stay on top of everything */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    //transition: 0.2s; /* 0.2 second transition effect to slide in the sidenav */

    
    
    .menu-top-navigation-container{
      height:100vh; 
      padding-bottom:3rem;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
      @include media-breakpoint-up(sm) {
        overflow-y: auto;
      }
    }
    ul {
      //@extend .nostyle-list;
      padding: 0;
      margin: 0;
      list-style-type:none;
      /*display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      align-content:center;*/

       li {
        padding: 0;
        margin: 0;
        opacity:0;
        -webkit-transition: opacity 0.2s ease-in;
      -moz-transition: opacity 0.2s ease-in;
      -ms-transition: opacity 0.2s ease-in;
      -o-transition: opacity 0.2s ease-in;
      transition: opacity 0.2s ease-in;
        
        width:100%;
        margin-top:0 !important;
        color:$white;
        border-top:1px solid $dark-grey;
        
        &.current-menu-item {
          
        }
         a {
           @include transition();
          @extend h3;
          font-size:1.4rem;     
          display:block;
          padding:1rem;
          text-decoration:none !important;
          color:#FFF;
        }
        &.menu-item-has-children {
          a {
            padding-bottom:.2rem;
          }
          li {
            border-top: none;
          }
        }
       
       }
    }
    ul.sub-menu {
      a {
        font-size:1rem;  
        padding: 0 0 0 2rem;
      }
    }
    .social-channels {
      padding:1.4rem 1rem;
      background: $dark-grey;
      .fa {
        color: #FFF;
      }
      a {
        display: inline;
        padding: 1rem 0;
      }
    }
    
}


/************ //END NAVIGATION **************************/
/************ HOMEPAGE MODAL **************************/
.modal-core {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1041;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}
.modal-embed-content{
  display: none;
}
.modal-core-content {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.modal-core-content iframe, .modal-core-content object, .modal-core-content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close-modal-core {
  color: #fff;
  text-align: right;
  font-size: 28px;
  /*font-weight: bold;*/
  width: 100%;
  margin: 10px auto;
  max-width: 1100px;
  display: block;
  position: absolute;
  z-index: 1000;
  right: 10%;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
}

.close-modal-core:hover,
.close-modal-core:focus {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}
/************ END HOMEPAGE MODAL **************************/

/**************************************************/
/************ OVERWRITES **************************/
.grabbing{
	cursor:url('../images/grabbing.png') !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  max-width: none;
}
.modal-content {
  border: none;
  border-radius: 0;
  @extend .content-box-offset;
}
.modal-header {
  padding: 0;
  border:none;
}
