/**************************************************/
/************ MIXINS ******************************/
@mixin transition {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

@mixin word-break {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  /*-ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;*/

}
/************ //END MIXINS ************************/


/********************************************
/* FONTS *****/
@font-face {
    font-family: 'flama-condensed-bold';
    src: url('../fonts/flamacondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/flamacondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Flama_Condensed_Bold {
  font-family: 'flama-condensed-bold';
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Proximanova_Regular {
  font-family: 'proximanova-regular';
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'proximanova-regularit';
    src: url('../fonts/proximanova-regularit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Proximanova_Regular_Italics {
  font-family: 'proximanova-regularit';
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Proximanova_Bold {
  font-family: 'proximanova-bold';
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'proximanova-boldit';
    src: url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Proximanova_Bold_Italics {
  font-family: 'proximanova-boldit';
  font-style:   normal;
  font-stretch: normal;
}

/*  //END FONTS *****/
/********************************************/



body {
	color: $text-color;
    @extend .Proximanova_Regular;
    font-size: 18px;
}

h1, h2, h3, .nav-primary {
	@extend .Flama_Condensed_Bold;
	text-transform:uppercase;
}
h1 {
	font-size:2.333rem;
	line-height:2rem;
	@include media-breakpoint-up(sm) {
		font-size:3.333rem;
		line-height:2.777rem;
	}
	&.feature {
		@include media-breakpoint-up(md) {
			font-size:4.2222rem;
			line-height:3.333rem;
			margin-bottom: 3rem;

		}
	}
	&.dark {
		color:$text-color;
	}
	&.light {
		color:#FFF;
	}
}
h2 {
	font-size:2rem;
	line-height:1.6rem;
}
h3 {
	font-size:1rem;
}
.page-header h1 {
	color:$brand-primary;
}

i, em {
	 @extend .Proximanova_Regular_Italics;
}
b, strong {
	@extend .Proximanova_Bold;
}
em strong, strong em {
	 @extend .Proximanova_Bold_Italics;
}



/**************************************************/
/************ LINKS **************************/

/* unvisited link */
a:link {
    color: $link-default;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: $link-default;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: $link-hover;
    text-decoration:none;
}

/* selected link */
a:active {
    color: $link-hover;
    text-decoration:none;
}
/************ //END NAVIGATION **************************/


/**************************************************/
/************ IMAGES **************************/
img {
	max-width:100%;
	height:auto;
}

/************ //END IMAGES **************************/




/**************************************************/
/************ NAVIGATION **************************/
nav {
	&.nav-primary {
		position:relative;
		ul {
			li {
				padding-right:1.111rem;
				a {
					@include transition;
					&:link, &:visited {
						color:$text-color;
					}
					&:hover, &:active, &:focus {
						color:$brand-primary;
					}
				}
			}
			&.sub-menu {
				list-style-type: none;
				border-top:1px solid $light-grey;

				position: absolute;
				left: 0;
				width: 100%;
				margin: 0.2rem 0 0 0;
				padding: 0.2rem 0 0 0;
				font-size:0.888rem;
				li {
					display: inline-block;
					vertical-align: middle;
					position: static;
				}
				&.headroom {
          @include transition;
          background-color:#fff;
        }

        &.headroom--unpinned {
        opacity:0;
        }

        &.headroom--pinned {
        opacity:1;
        }
			}
		}
	}
	&.nav-legal {
		margin-bottom:30px;
		@include media-breakpoint-up(md) {
			float:right;
			margin-bottom:0;
		}
		ul li {
			margin-left:15px;
		}
	}
}

/************ //END NAVIGATION **************************/


/**************************************************/
/************ OVERWRITES **************************/
.grabbing{
	cursor:url('../images/grabbing.png') !important;
}
