// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #00aeef; 
$brand-secondary:		#00aeef;
$brand-tertiary:		#91cddc;
$text-color:			#231f20;
$light-grey:			#f4f4f4;
$medium-grey:			#dfdede;
$text-grey:				#737172;
$row-bg:				#ecf3ff;

//Links
$link-default:			$brand-primary;
$link-hover:			#19468d;
$blog-rollover:			$brand-tertiary;

