.white-btn, .black-btn {
	display:inline-block;
	@include transition;
	padding:0.5rem 1rem;
	@include media-breakpoint-up(md) {
		padding:1.111rem 2rem;
	}
	
	&:link, &:visited {
		border:2px solid #FFF;
		color:#FFF;
	}
	&:hover, &:active, &:focus {
		border:2px solid $text-color;
		background-color:$text-color;
	}
}
.black-btn {
	&:link, &:visited {
		border:2px solid $text-color;
		color:$text-color;
	}
	&:hover, &:active, &:focus {
		border:2px solid $text-color;
		background-color:$text-color;
		color:#FFF;
	}
}
.find-btn {
	border:2px solid $text-color;
	color:#FFF;
	background: $text-color;
}