// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.select-base {
	-webkit-appearance: none;
    -moz-appearance: none;
    background-repeat:no-repeat;
    background-size:10px 10px;
    background-position: 95% 50%;
}

//input fields
form {
	input[type="text"],
	input[type="email"] {
		width: 100%;
		border:2px solid $text-color;
		padding:.5rem;
	}
	.black-btn {
		padding:.5rem;
		width: 100%;
		color:#FFF;
		border:2px solid $text-color;
		background: $text-color;
		&:hover {
			border:2px solid $brand-primary;
			background: $brand-primary;
		}
	}
	select {
    	background:url('../images/dropdown-arrow.svg');
    	@extend .select-base;
    	
	}
	.white-dropdown-arrow {
		select {
			background:url('../images/white-dropdown-arrow.svg');
			@extend .select-base;
		}
	}
}

// Contact form
.frm_forms {
	margin-bottom:3rem;
	h3 {
		@extend .Flama_Condensed_Bold;
		margin-bottom:1rem
	}
}
